@model WebAppGraphAPI.Models.UserProfile
@{
    ViewBag.Title = "User Profile";
}

<h2>@ViewBag.Title.</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Display Name</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@Model.GivenName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.Surname</td>
    </tr>
    <!-- Plus some other properties -->
    <tr>
        <td>Job Title</td>
        <td>@Model.JobTitle</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>@Model.Department</td>
    </tr>
    <tr>
        <td>Physical Delivery Office Name</td>
        <td>@Model.PhysicalDeliveryOfficeName</td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>PostalCode</td>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td>@Model.Mobile</td>
    </tr>
    <tr>
        <td>Telephone</td>
        <td>@Model.TelephoneNumber</td>
    </tr>
    <tr>
        <td>Fax</td>
        <td>@Model.FacsimileTelephoneNumber</td>
    </tr>
    <tr>
        <td>Mail</td>
        <td>@Model.Mail</td>
    </tr>
    <tr>
        <td>Employee Id</td>
        <td>@Model.EmployeeId</td>
    </tr>
    <tr>
        <td>PreferredLanguage</td>
        <td>@Model.PreferredLanguage</td>
    </tr>
</table>

@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your profile. Click @Html.ActionLink("here", "Index", "UserProfile", new { reauth = true }, null) to sign-in.</p>
}

@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your profile.  Please try again.  You may need to sign-in.</p>
}

